<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.lifetime.db.mapper.ImageMapper">
	<resultMap id="Image" type="me.lifetime.entity.Image">
		<id column="image_id" property="photoId" jdbcType="INTEGER" />
		<result column="axis_id" property="axisId" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="media_id" property="mediaId" jdbcType="VARCHAR" />
		<result column="description" property="description" jdbcType="VARCHAR" />
		<result column="path_qiniu" property="pathQiniu" jdbcType="VARCHAR" />
		<result column="path_wx" property="pathWX" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	</resultMap>

	<insert id="insert" parameterType="Image">
		insert into image(
			axis_id
			,from_user_name
			,name
			,media_id
			,description
			,path_qiniu
			,path_wx
			,create_time
		) values(
			#{axisId}
			,#{fromUserName}
			,#{name}
			,#{mediaId}
			,#{description}
			,#{pathQiniu}
			,#{pathWX}
			,#{createTime}
		)
	</insert>
	
	<select id="getLastImage" resultMap="Image" parameterType="java.lang.String">
		select * from image where from_user_name=#{0} order by image_id desc limit 1
	</select>
	
	<update id="updateImageName" parameterType="java.lang.String">
		update image set name=#{1} where from_user_name=#{0} order by image_id desc limit 1
	</update>	
		
	<update id="updateImageDescription" parameterType="java.lang.String">
		update image set description=#{1} where from_user_name=#{0} order by image_id desc limit 1
	</update>
	
	
	
	
	
	
	
	
	
	
			
</mapper>